@font-face {
    font-family: "opensans";
    src: url(./Openfont/OpenSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "opensans";
    src: url(./Openfont/OpenSans-BoldItalic.ttf);
    font-style: italic;
    font-weight:bold;
}
@font-face {
    font-family: "opensans";
    src: url(./Openfont/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "opensans";
    src: url(./Openfont/OpenSans-ExtraBoldItalic.ttf);
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: "opensans";
    src: url(./Openfont/OpenSans-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: "opensans";
    src: url(./Openfont/OpenSans-Light.ttf);
    font-weight: 300; 
}
@font-face {
    font-family: "opensans";
    src: url(./Openfont/OpenSans-LightItalic.ttf);
    font-style: italic;
    font-weight: 300,
}
@font-face {
    font-family: "opensans";
    src: url(./Openfont/OpenSans-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "opensans";
    src: url(./Openfont/OpenSans-SemiBold.ttf);
    font-style: bold;
    font-weight: 600;
}
@font-face {
    font-family: "opensans";
    src: url(./Openfont/OpenSans-SemiBoldItalic.ttf);
    font-style: italic;
    font-weight: 600;
}
body {
    width: 100;
    margin: auto;
}
header {
    background-image: url("./img/odepage.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 900px;
}
nav {
    background-color: rgba(0, 0, 0, 0.504);
    display: flex;
}
nav img {
    padding-left: 360px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 315px;
}
nav ul {
    display: flex;
    color: white;
    margin: 0;
    font-family: "openSans";
    font-weight: bold;

}
nav li {
    list-style-type: none;
    justify-content: space-between;
    font-size: 18px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    width: 144px;
    margin: 0;
    font-family: "opensans";
    font-weight: bold;
}
nav li:hover {
    background-color: #d31f44;
} 
h1 {
    text-align: center;
    color: white;
    padding-top: 200px;
    font-size: 40px;
    font-family: "opensans";
    font-weight: bold;
}
header p {
    text-align: center;
    color: white;
    font-family: "opensans";
    font-weight: 300;
}
#formation {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    text-align: center;
    margin-left: 410px;
    margin-right: 410px;
    font-size: 32px;
}
#bouton {
    background-color: #d31f44;
    margin-left: 840px;
    margin-right: 840px;
    text-align: center;
    font-size: 18px;
    margin-top: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
h2 {
    text-align: center;
    font-family: "opensans";
    font-style: bold;
    font-weight: 600;
    font-size: 22px;

}
#pm {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: white;
    height: 300px;
}
.label {
   display: flex;
   flex-direction: column;
   width: 600px;
   text-align: right;
   margin-right: 50px;
}
.text {
   margin-left: 20px;
}
.text p {
    margin-left: 27px;
}
.chacun {
    background-image: url("./img/fon4.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 900px;
    color: white;
}
#pp {
    margin-left: 800px;
}